#side-bar{
	width: 20%;
	background-color: white;
	display:  flex;
	flex-direction: column;
	overflow: auto;
}
#new-folder-button{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5%;
	border-radius: 10px;
}
#new-folder-button:hover{
	background-color: rgba(112,112,112,0.5);
}
#new-folder-icon{
	height: 30px;
	width: 30px;
}
#new-folder-popup{
	position: fixed;
	display:  flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	width: 100vw;
	top: 0;
}
#folder-list{
	display: flex;
	flex-direction: column;
}
#folder{
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	height: 50px;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	border: solid 1px rgba(112,112,112,0.5);
	margin: 0px 10px 8px 10px;
}
#folder:hover{
	background-color: rgba(112,112,112,0.5);
}
#folder-status{
	display:  flex;
	justify-content: space-around;
	margin-top: 2%;
}
#folder-status > :nth-child(1){
	background-color: blue;


}#folder-status > :nth-child(2){
	background-color: green;

}#folder-status > :nth-child(3){
	background-color: red;
}

.status-counter{
	font-weight: bold;
	color:white;
	border-radius: 20px;
	width: 10%;
	text-align: center;
}

#folder-name{
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


@media (max-width: 992px) {

	#side-bar{
		width: 100%;
		height: 20%;
		flex-direction: row;
	}

	#folder-list{
		flex-direction: row;
		align-items: center;

	}

	#folder{
		width: 130px;
		margin: 0px 5px 0px 5px;	

	}

	#new-folder-button{
		margin: 0px 10px 0px 0px;
	}
}
